nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav a {
	color: black;
	float: left;
}

nav ul a:hover {
	cursor: pointer;
	color: red;
}

nav ul li ul {
	display: none;
}

nav ul li._selected > ul {
	display: block;
}

li._selected > a {
	color: green;
}

nav a + ul {
	float: left;
	margin-right: 1em;
}